.frame {
    width: 254px;
    .genres {
        width: 250px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        &::-webkit-scrollbar {
            /* для Webkit (Chrome, Safari, Opera) */
            display: none;
        }
        scrollbar-width: none; /* для Firefox */
        -ms-overflow-style: none; /* для IE и Edge */
        & .genre {
            background: rgba(149, 173, 220, 0.2);
            border-radius: 20px;
            padding: 3px 13px;
            margin: 5px;
            height: 26px;
            text-align: center;
        }
    }
    .titles {
        font-weight: 600;
        font-size: 24px;
        white-space: nowrap; /* Запрещаем перенос текста на новую строку */
        overflow: hidden; /* Скрываем часть текста, которая выходит за пределы контейнера */
        text-overflow: ellipsis;
    }
}
