.button {
    height: 100%;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    @media screen and (max-width: 481px) {
        font-size: 15px;
    }
    @media screen and (max-width: 330px) {
        font-size: 14px;
    }
    border: none;
    color: var(--for-all-color);
    border-radius: 12px;
    font-family: RobotoMedium, sans-serif;
    &:hover {
        color: rgb(178, 199, 216);
    }
}
