.input {
    outline: none;
    background: rgba(255, 255, 255, 0.12);
    height: 35px;
    border: none;
    font-size: 22px;
    width: 100%;
    border-radius: 10px;
    width: 100%;
    color: white;
    font-size: 18px;
}
