.nav {
    cursor: pointer;
    .links {
        display: flex;
        & li {
            &:hover {
                color: red;
            }
            display: flex;
            flex-grow: 1;
        }
    }
}
.active {
    color: red;
}
