.header {
    backdrop-filter: blur(32px);
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    margin: 15px 20px 0 20px;
    .innerHeader {
        font-size: 22px;
        max-width: 1440px;
        height: 90px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .namesAnimeCinema {
            font-size: 50px;
            font-family: 'RobotoBold', sans-serif;
            & span {
                color: red;
            }
        }
        .searchAndUser {
            width: 130px;
            display: flex;
            justify-content: space-between;
        }
        .menu {
            width: 700px;
        }
    }
}
