.content {
    margin-top: 47px;

    & img {
        border-radius: 15px;
    }
    .fullContent {
        display: flex;
        justify-content: center;
    }

    & .view {
        display: flex;
        justify-content: center;
        margin: 25px 0 0 0;
        & button {
            color: white;
            background: #242424;
            padding: 10px;
            font-size: 18px;
            border: none;
            border-radius: 12px;
            display: flex;
            align-items: center;
            @media screen and (max-width: 502px) {
                padding: 6px;
                font-size: 16px;
            }
        }
    }
    min-height: 60vh;
}

.warning {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
