.footer {
    margin-top: 40px;
    backdrop-filter: blur(32px);
    background: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    position: relative;
    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -130%);
        & img {
            width: 10px;
            height: 10px;
        }
    }
    & .innerFooter {
        padding-left: 20px;
        @media screen and (max-width: 934px) {
            font-size: 10px;
        }
        max-width: 1440px;
        height: 140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
