.partContent {
    & .posters {
        border-radius: 20px;
    }
    & img {
        width: 405px;
        height: 572px;
        @media screen and (max-width: 839px) {
            width: 305px;
            height: 472px;
        }
    }
    & .aboutSingle {
        margin-left: 30px;
        .names {
            & .ru {
                font-family: 'RobotoBold', sans-serif;
                font-size: 34px;
                padding-bottom: 10px;
                @media screen and (max-width: 981px) {
                    font-size: 30px;
                }
            }
            & .en {
                font-family: 'RobotoLight', sans-serif;
                font-weight: 300;
                font-size: 24px;
            }
            margin-bottom: 40px;
        }
        & .desc {
            @media screen and (max-width: 1400px) {
                display: none;
            }
            font-family: 'RobotoLight', sans-serif;
            font-size: 24px;
            line-height: 30px;
        }
        .moreInformation {
            font-size: 21px;
            margin-top: 30px;
            & span {
                font-family: 'RobotoMedium', sans-serif;
                color: #fff;
            }
            .genres {
                font-family: 'RobotoLight', sans-serif;
                margin: 0 0 10px 0;
                display: flex;
                flex-wrap: wrap;
                & spa {
                }
            }
            & .status {
                font-family: 'RobotoLight', sans-serif;
                & span {
                    font-family: 'RobotoMedium', sans-serif;
                }
                margin: 10px 0 10px 0;
            }
            & .type {
                font-family: 'RobotoLight', sans-serif;
                margin: 10px 0 10px 0;
                & span {
                    font-family: 'RobotoMedium', sans-serif;
                }
            }
            & .conti {
                font-family: 'RobotoLight', sans-serif;
                margin: 10px 0 10px 0;
                & span {
                    font-family: 'RobotoMedium', sans-serif;
                }
            }
        }
    }
}
.descBottom {
    display: none;
    @media screen and (max-width: 1400px) {
        display: block;
    }
    margin-top: 50px;
    font-family: 'RobotoLight', sans-serif;
    font-size: 24px;
    line-height: 30px;
}
.videoPlayer {
    margin-top: 40px;
    & .episode {
        margin: 0 5px 10px 0;
    }
    .selected {
        padding: 5px 15px 5px 15px;
        font-size: 20px;
        margin: 0 0 10px 0;
        width: 150px;
    }
    & .quality {
        padding: 0 5px 0 20px;
    }
}

.warning {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error {
    min-height: 60vh;
}
