.global {
    padding: 15px 20px 15px 20px;
    height: 100%;
    @media screen and (max-width: 503px) {
        padding: 10px;
    }

    .innerGlobalP {
        // backdrop-filter: blur(32px);
        // background: rgba(255, 255, 255, 0.12);
        border-radius: 15px;
        padding: 20px 20px 50px 20px;
        @media screen and (max-width: 626px) {
            padding: 20px 0 0 0;
        }
        margin-bottom: 100px;
    }
}

.category {
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding-top: 13px;
    font-family: 'RobotoMedium', sans-serif;
    .selected {
        margin-top: 10px;
        .selectedGenres {
            .sc {
                min-height: 34px;
                min-width: 40px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                background: #242424;
                border-radius: 10px;
                padding: 10px;
                @media screen and (max-width: 424px) {
                    font-size: 11px;
                    padding: 5px;
                }
                & span {
                    margin: 2px;
                    margin-left: 10px;
                    backdrop-filter: blur(32px);
                    background: rgba(255, 255, 255, 0.12);
                    padding: 5px;
                    border-radius: 8px;
                    white-space: nowrap;
                    & span {
                        padding: 5px;
                        background: none;
                        cursor: pointer;
                    }
                }
            }
        }
        .resetGenres {
            font-size: 13px;
            font-family: 'RobotoBold';
            margin-top: 5px;
            cursor: pointer;
            opacity: 0.8;
            &:hover {
                opacity: 0.6;
            }
            display: flex;
            justify-content: flex-end;
        }
    }
    .cate {
        margin-bottom: 20px;
    }
    .button {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        & span {
            width: 180px;
            height: 40px;
        }
    }
    .sortT {
        font-family: 'RobotoBold', sans-serif;
        font-size: 24px;

        @media screen and (max-width: 462px) {
            font-size: 25px;
        }
    }
}

.titleC {
    font-family: 'RobotoBold', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
        color: red;
    }
    .switch {
        margin: 20px 0;
    }
}
.i {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.12);
    transform: scale(0.95);
    transition: transform 0.5s ease;
    &:hover {
        fill: red;
        transform: scale(1);
    }
    & a {
        padding: 5px;
    }
}
.footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'RobotoBold', sans-serif;
    & span {
        color: red;
    }
}

.avatar {
    display: flex;
    justify-content: center;
    margin: 0 6px 0 6px;
    cursor: pointer;
    top: 5px;
    & img {
        object-fit: cover;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    margin-bottom: 15px;
}
.ppp {
    max-width: 500px;
}
