.thePath {
    margin: 0 0 40px 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 32px;
    @media screen and (max-width: 941px) {
        font-size: 20px;
    }
    @media screen and (max-width: 680px) {
        font-size: 16px;
        margin-bottom: 8px;
    }
    @media screen and (max-width: 422px) {
        font-size: 10px;
    }

    & .home {
        fill: #ff0000;
    }
    & .links {
        display: flex;
        padding-right: 20px;
        .link {
            align-items: center;
        }
    }
}
