.thePath {
    margin: 0 0 40px 0;
    display: flex;
    font-weight: 300;
    font-size: 32px;
    & .home {
        fill: #ff0000;
    }
    & .links {
        display: flex;
        padding-right: 20px;
        .link {
            align-items: center;
        }
    }
}
