.fullContent {
    display: flex;
    justify-content: center;
    .wrapper {
        height: 100%;

        & span {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            & span {
                height: 50px;
                width: 180px;
            }
        }
        .loadingAdd {
            display: flex;
            justify-content: center;
        }
    }
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh - 20vh;
}
